<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resumen del Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Resumen de Información</h5>
            <div th:if="${cliente != null}">
                <div class="form-group">
                    <label for="tipoDocumento">Primer Apellido</label>
                    <input type="text" class="form-control" id="tipoDocumento" th:value="${cliente.primerApellido}" disabled />
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:value="${cliente.primerNombre}" disabled />
                </div>
                <a href="/ingreso" class="btn btn-primary">Volver</a>
            </div>
            <div th:if="${cliente == null}">
                <p>Cliente no encontrado.</p>
                <a href="/ingreso" class="btn btn-primary my-5">Volver</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
</body>
</html>
